/* src/pages/Inicio.css */

.inicio-container {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.welcome-message {
  margin-bottom: 20px;
  opacity: 0;
  animation: fadeIn 1.5s forwards;
}

.welcome-message h1 {
  color: #2c3e50;
  font-size: 2.5rem;
}

.menu {
  margin-bottom: 30px;
  opacity: 0;
  animation: fadeIn 2s 0.5s forwards;
}

.menu h2 {
  color: #34495e;
  font-size: 2rem;
}

.menu-options {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.menu-item {
  text-decoration: none;
  background-color: #007bff;
  color: white;
  padding: 12px 20px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1.1rem;
  transition: background-color 0.3s ease;
}

.menu-item:hover {
  background-color: #0056b3;
}

.select-message {
  opacity: 0;
  animation: fadeIn 2.5s 1s forwards;
}

.select-message p {
  color: #7f8c8d;
  font-size: 1.2rem;
  max-width: 500px;
  margin: 0 auto;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}



.ventas-container {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  padding: 20px;
  min-height: 100vh;
}

.titulo {
  text-align: center;
  color: #2c3e50;
  font-size: 2.5rem;
  margin-bottom: 30px;
}

.btn-registrar {
  display: block;
  margin: 20px auto;
  padding: 12px 20px;
  background-color: #286ea7;
  color: white;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-registrar:hover {
  background-color: #215a889c;
}

.ventas-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.ventas-table th,
.ventas-table td {
  padding: 12px;
  text-align: center;
  border: 1px solid #ddd;
}

.ventas-table th {
  background-color: #007bff;
  color: white;
}

.ventas-table td {
  background-color: #f9f9f9;
}

.ventas-table tr:nth-child(even) td {
  background-color: #f2f2f2;
}

.ventas-table tr:hover {
  background-color: #f1f1f1;
}

.btn-editar,
.btn-eliminar {
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  margin: 0 5px;
  transition: background-color 0.3s ease;
}

.btn-editar {
  background-color: #286ea7;
  color: white;
}

.btn-editar:hover {
  background-color: #215a889c;
}

.btn-eliminar {
  background-color: #286ea7;
  color: white;
}

.btn-eliminar:hover {
  background-color: #215a889c;
}


.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  background-color: #f7f7f7;
}

.form {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column; 
  align-items: center;     
}

.form-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
  color: #2c3e50;
  margin-top: -500px ;
  margin-right: -350px;
  
}

.form-group {
  margin-bottom: 20px;
  width: 100%;
}

.form-group label {
  display: block;
  font-size: 1.1rem;
  margin-bottom: 5px;
  color: #34495e;
}

.form-group input {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-sizing: border-box;
  transition: border-color 0.3s;
}

.form-group input:focus {
  border-color: #007bff;
  outline: none;
}

.form-button {
  width: 100%;
  padding: 12px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-button:hover {
  background-color: #218838;
}


.btn-registrar {
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  margin: 0 5px;
  transition: background-color 0.3s ease;
}

.btn-registrar {
  background-color: #286ea7;
  color: white;
}

.btn-registrar:hover {
  background-color: #215a889c;
}

.form-buttons {
  display: flex;
  justify-content: space-between;  
  width: 100%;
  gap: 10px; 
}

